@keyframes moveOuterElement {
    17.5%, 20% {
        transform: translateY(-72px);
    }
    
    37.5%, 40% {
        transform: translateY(-144px);
    }
    
    57.5%, 60% {
        transform: translateY(-216px);
    }
    
    77.5%, 80% {
        transform: translateY(-288px);
    }

    97.5%, 100% {
        transform: translateY(-360px);
    }
}